.btn {
    &-outline-primary {
        @include text($base-font-size-sm-m, $base-line-height * 0.64, $gray-900, 500, 0.6px);
        width: 100%;
        position: relative;
        left: 0;
        top: 0;
        padding: 10px;
        z-index: 3;
        background-color: #FFD11F;
        border: 2px solid $black;
        border-radius: 2px;
        text-align: center;
        transition: all 0.3s ease-in;
        text-transform: uppercase;
        margin-top: 10px;

        @include media-breakpoint-up(lg) {
            @include text($base-font-size-sm, $base-line-height-sm-m, null, null, $base-letter-spacing-p);
        }

        &::before {
            content: '';
            position: absolute;
            bottom: -5px;
            right: -5px;
            width: 100%;
            height: 100%;
            border-right: 5px solid transparent;
            border-bottom: 5px solid transparent;
            z-index: 1;
            transition: all 0.3s ease-in;
        }

        &:hover {
            left: -5px;
            top: -5px;

            &::before {
                border-color: $black;
            }
        }
    }

    @extend .btn-outline-primary;

    &-none {
        font-family: $font-family-primary;
        font-size: $base-font-size-sm;
        padding: 0;
        border: none;
        background-color: unset;
    }

    &-text {
        font-family: $font-family-primary;
        font-size: $base-font-size-sm;
        padding: 0;
        background-color: transparent;
        border: none;
        text-decoration: underline;

        @include media-breakpoint-up(lg) {
            font-size: $base-font-size;
        }
    }

    &-sidebar {
        font-family: $font-family-primary;
        font-weight: 500;
        font-size: 12px;
        background-color: $white;
        width: rem(130px);
        height: rem(38px);
        border: $border-secondary;
        letter-spacing: rem(0.6px);
        text-align: center;
        border-radius: $base-radius;

        @include media-breakpoint-up(lg) {
            width: rem(165px);
            height: rem(43px);
            letter-spacing: rem(0.7px);
            font-size: 14px;
        }

        &:hover {
            border: $border-primary;
        }

        &.active {
            border-color: $gray-900
        }
    }

    &-more {
        border: none;
        background-color: transparent;
        padding: 0;

        span {
            width: rem(4px);
            height: rem(4px);
            border-radius: 50%;
            background-color: $bodyColor;
            margin-right: rem(3px);
        }
    }

    &--checkout {
        @extend .d-flex;
        @extend .justify-content-between;
    }
}