.card {
    $card: #{&};
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border: $border-primary;
    border-radius: $base-radius;

    &__thumb {
        position: relative;
        display: flex;
        background-color: $pink-200;
        overflow: hidden;

        picture {
            min-height: 168px;
        }
    }

    &__img,
    a:not(.btn-atc),
    img {
        width: 100%;
        display: block;
    }

    &__img {
        &-secondary {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 1;
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s ease-in;
            background-color: $pink-200;

            img {
                height: 100%;
            }
        }
    }

    &__tags {
        position: absolute;
        z-index: 2;
        top: rem(8px);
        right: rem(7px);

        @include media-breakpoint-down(lg) {
            overflow-x: auto;
        }

        &--inline {
            position: static;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }
    }

    &__tag {
        @include text($base-font-size * 0.625, $base-line-height-sm);
        display: inline-block;
        height: rem(20px);
        padding: rem(0 8px);
        text-transform: capitalize;
        border: $border-secondary;
        border-radius: rem(100px);
        margin: rem(9px 0 8px);
        white-space: nowrap;

        @include media-breakpoint-up(lg) {
            margin: rem(9px 0 15px);
            padding: rem(0 13px);
        }

        &--transparent {
            border: 1px solid $gray-400;
            background-color: transparent !important;
            font-size: 14px !important;
            display: flex;
            align-items: center;
            cursor: pointer;
            @include media-breakpoint-up(lg) {
                margin: 0 5px 5px 0;
                padding: 5px 13px;
                font-size: 16px !important;
            }

            &.active {
                background-color: $white !important;
                border: 2px solid $gray-900 !important;
            }
        }

        &.select-type {
            cursor: pointer;
        }

        &.active {
            border: $border-primary;
        }

        &:not(:last-child) {
            margin-right: rem(8px);

            @include media-breakpoint-up(lg) {
                margin-right: rem(12px);
            }
        }

        @include media-breakpoint-up(lg) {
            @include text($base-font-size-sm-m, $base-line-height);
            height: rem(25px);
        }
    }

    &-label {
        border: none;
        border-radius: $base-radius;
        background-color: $white;
        margin: 0;

        @include media-breakpoint-up(lg) {
            top: rem(12px);
            right: rem(12px);
        }
    }


    &__body {
        @extend .d-flex;
        @extend .flex-column;
        background-color: $white;
        padding: rem(4px 6px 8px);
        flex: 1;
        text-align: left;

        @include media-breakpoint-up(lg) {
            padding: rem(12px 12px 10px);
        }



        .card__tags {
            position: relative;
            top: auto;
            right: auto;
        }
    }

    &__text {
        @include text($base-font-size * 0.625, $base-line-height * 0.48, $gray-200);
        margin-top: rem(4px);

        @include media-breakpoint-up(lg) {
            @include text($base-font-size-sm-m, $base-line-height);
            margin-top: 0;
        }
    }

    &:hover {
        .card__img-secondary {
            opacity: 1;
            visibility: visible;
        }
    }

    .btn-atc {
        margin-top: auto;

        dfn {
            @include media-breakpoint-down(lg) {
                display: none;
            }
        }
    }

    &-lg {
        grid-area: span 1 / span 2;
        padding: rem(44px 19px 44px 30px);
        flex-direction: column;
        justify-content: space-between;

        @include media-breakpoint-up(lg) {
            padding: rem(37px 44px);

        }

        &__title {
            position: relative;

            &::after {
                content: '“';
                font-size: $base-font-size * 1.375;
                line-height: $base-line-height * 1.2;
                font-family: $font-family-secondary;
                letter-spacing: $base-letter-spacing-lg;
                font-weight: 300;
                position: absolute;
                left: rem(-14px);
                top: 0;

                @include media-breakpoint-up(lg) {
                    font-size: $h2-font-size-d;
                    line-height: $base-line-height * 1.92;
                    left: rem(-20px);
                }

            }
        }

        .user {
            @include text($base-font-size * 0.87, $base-line-height-sm-m, null, 500, 0.7px);
            display: flex;
            flex-direction: column;

            &__img {
                width: rem(45px);
                height: rem(45px);
            }
        }
    }
}

// Vertical card
.vertical-card {
    position: relative;
    grid-template-columns: 114px auto;
    background-color: $white;
    align-items: center;
    border: $border-primary;
    border-radius: $base-radius;
    overflow: hidden;
    margin-top: rem(14px);

    @include media-breakpoint-up(lg) {
        grid-template-columns: 135px auto;
        margin-top: rem(36px);

    }


    &__img {
        display: flex;
        height: 100%;

        img {
            width: 100%;
            object-fit: cover;
        }

        iframe {
            height: 100%;
            width: 100%;
        }
    }

    &__body {
        padding: rem(10px 20px);

        @include media-breakpoint-up(lg) {
            padding: rem(28px);
        }
    }

    &__label {
        @extend .card__tag;
        @extend .card-label;
        position: absolute;
        top: rem(8px);
        right: rem(7px);
        z-index: 2;
    }

    &__tags {
        position: relative;
        top: auto;
        right: auto;
    }

    .card__tag {
        @include media-breakpoint-down(lg) {
            height: rem(24px);
            line-height: rem(24px);
        }
    }
}

.details-link {
    display: block;
    text-align: center;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: rem(6px);
    background-color: rgba($white, 0.8);
    transition: all 0.3s ease-in;
    opacity: 0;
    visibility: hidden;
    z-index: 10;
}
