.cart {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
    width: 100%;
    max-width: rem(475px);
    background-color: $white;
    border-left: $border-secondary;
    height: 100vh;
    // opacity: 0;
    // visibility: hidden;
    transform: translateX(100%);
    transition: all .4s ease;

    &--visible {
        // opacity: 1;
        // visibility: visible;
        transform: translateX(0);
    }

    &__inner {
        height: inherit;
        // max-height: 100vh;
        // overflow-y: auto;
    }

    &__header {
        padding: rem(8px 12px);
        height: rem(36px);
        border-bottom: $border-secondary;
    }

    &__close {
        margin-right: rem(-10px);
        padding: 0;
        color: $primary;
        background-color: transparent;
        border: 0;
        width: rem(30px);
        height: rem(30px);
    }
    
    &__body {
        flex: 1;
        max-height: 100%;
        overflow-y: auto;
    }

    &__empty {
        @extend .d-flex;
        @extend .flex-column;
        @extend .align-items-center;
        @extend .justify-content-center;
        padding: rem(10px);
        width: 100%;
        height: 100%;
        background-color: $gray-100;

        &-btn {
            @include media-breakpoint-up(lg) {
                margin-top: rem(24px);
            }
        }
    }

    &-track {
        padding: rem(12px 20px);
        text-align: center;
        text-transform: uppercase;
        border-bottom: $border-secondary;

        p {
            line-height: rem(15px);

            @include media-breakpoint-up(lg) {
                line-height: rem(18px);
            }
        }

        &__progress {
            position: relative;
            margin-top: rem(10px);

            &-fill {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                background-color: $primary;
            }

            &-bar {
                width: 100%;
                height: rem(7px);
                border: $border-primary;
            }
        }
    }

    &-terms {
        padding: rem(10px);
        border-top: $border-secondary;

        @include media-breakpoint-up(lg) {
            padding: rem(9px 12px);
        }

        &__input {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
        }

        &__label {
            position: relative;
            padding-left: rem(24px);
            cursor: pointer;

            @include media-breakpoint-up(lg) {
                padding-left: rem(40px);
            }

            &::before {
                position: absolute;
                top: rem(1px);
                left: 0;
                width: rem(14px);
                height: rem(14px);
                border: $border-secondary;
                content: '';
                background-size: rem(11px);
                background-repeat: no-repeat;
                background-position: center;

                @include media-breakpoint-up(lg) {
                    width: rem(15px);
                    height: rem(15px);
                }
            }
        }

        &__input:checked + &__label::before {
            background-image: url("data:image/svg+xml,%3Csvg fill='none' viewBox='0 0 11 11' id='close' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M.749.75a.708.708 0 011.002 0L5.5 4.497 9.249.75a.708.708 0 111.002 1.002L6.5 5.5l3.75 3.748a.708.708 0 01-1.002 1.002L5.499 6.5l-3.748 3.75A.708.708 0 11.749 9.249L4.499 5.5.748 1.751a.708.708 0 010-1.002z' fill='%230D0D0D'%3E%3C/path%3E%3C/svg%3E");
        }
    }
    
    &__products {
        flex: 1;
        max-height: 100%;
        overflow-y: auto;
    }

    &-product {
        padding: rem(10px);
        display: grid;
        grid-template-columns: 120px 1fr;
        grid-gap: 6px;
        border-bottom: $border-secondary;
        

        @include media-breakpoint-up(lg) {
            padding: rem(6px);
            grid-template-columns: 130px 1fr;
        }

        &__img {
            object-fit: cover;
            width: rem(120px);
            height: rem(149px);

            @include media-breakpoint-up(lg) {
                width: rem(130px);
                height: rem(161px);
            }
        }

        h6 {
            margin-bottom: rem(12px);
        }

        &__content {
            padding: rem(5px 0 5px 8px);

            @include media-breakpoint-up(lg) {
                padding: rem(6px);
            }
        }

        &__footer {
            margin-top: auto;

            a.btn {
                margin-top: rem(14px);

                @include media-breakpoint-up(lg) {
                    margin-top: rem(12px);
                }
            }
        }

        &__remove {
            padding: 0;
            margin: 0;
            border: 0;
            background-color: transparent;
            text-decoration: underline;
            text-underline-offset: 5px;
        }

        &__count {
            display: inline-flex;
            align-items: center;
            line-height: 0;
        }

        &__input {
            font-family: $font-family-primary;
            width: rem(27px);
            text-align: center;
            border: 0;
        }

        &__button {
            padding: 0;
            border: 0;
            width: rem(17px);
            height: rem(17px);
            background-color: transparent;
        }

        &__btn {
            margin-top: rem(14px);
        }
    }

    &-upsell {
        &__header {
            padding: rem(9px 6px);
            text-align: center;
            border-top: $border-secondary;
            border-bottom: $border-secondary;
        }

        .cart-product {
            border-bottom: 0;

            @include media-breakpoint-down(lg) {
                grid-gap: rem(4px);
            }
        }
    }

    &__subtotal {
        padding: rem(10px);
        border-top: $border-secondary;

        @include media-breakpoint-up(lg) {
            padding: rem(12px);
        }
    }

    &__checkout {
        margin-top: rem(10px);

        @include media-breakpoint-up(lg) {
            margin-top: rem(12px);
        }
    }
}