body {
	&.nav-open {
		height: 100vh;
		overflow-y: hidden;
	}
}


#shopify-section-header-promo-banner + #shopify-section-header {
	.header {
		top: rem(28px);

		@include media-breakpoint-up(lg) {
			top: rem(48px);
		}
	}
}


.header {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
	width: 100%;
	padding: 0;
	transition: transform .4s ease;
	
	@include media-breakpoint-up(lg) {
		position: absolute;
		top: rem(32px);
		padding: rem(0 36px);
	}

	&--sticky {
		@include media-breakpoint-up(lg) {
			top: rem(32px) !important;
			transform: translateY(-150px);
			transition: transform .4s ease;
		}
	}

	.scroll-up &{
		@include media-breakpoint-up(lg) {
			position: fixed;
			transform: translateY(0);
		}
	}

	&__inner {
		height: rem(60px);
		background-color: $white;
		border: $border-primary;
		max-width: 1848px;
		margin-left: auto;
		margin-right: auto;

		@include media-breakpoint-down(lg) {
			border-top: 0;
			border-left: 0;
			border-right: 0;
		}

		@include media-breakpoint-up(lg) {
			border-radius: $base-radius;
			height: rem(65px);
		}
	}
}

.template-collection .scroll-up .header--sticky .header__inner{
	@include media-breakpoint-up(lg) {
		border-radius: $base-radius $base-radius 0 0;
	}
}

@keyframes fadeIn {
	0%    { opacity: .3; }
	20%   { opacity: 1; }
	80%   { opacity: 1; }
	100%  { opacity: 1; }
}

