body.notification-open {
	.nav {
		@include media-breakpoint-down(lg) {
			top: 88px;
		}
	}
}

.navbar {
	position: relative;

	&__brand {
		@include center(both);

		@include media-breakpoint-down(lg) {
			width: rem(100px);
		}
	}

	&__atc {
		position: relative;
		z-index: 10;
		width: rem(48px);
		height: rem(59px);
		align-items: center;
		justify-content: center;
		margin-left: auto;
		border-left: $border-primary;
		padding: rem(12px 0 15px);

		@include media-breakpoint-up(lg) {
			width: rem(65px);
			height: rem(63px);
			margin-left: rem(10px);
			padding: 0;
		}

		&.active {
			background-color: $secondary;
		}

		&.cart-icon-filled {
			background-color: $secondary;

			@include media-breakpoint-up(lg) {
				border-bottom-right-radius: $base-radius;
				border-top-right-radius: $base-radius;
			}
		}
	}

	&-toggler {
		@include center(vertical);
		width: rem(20px);
		height: rem(20px);
		left: rem(12px);
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;

		&__bar {
			position: relative;
			display: inline-block;
			width: rem(20px);
			height: rem(1px);
			background-color: $bodyColor;

			&::after,
			&::before {
				content: '';
				width: 100%;
				height: rem(1px);
				background-color: $bodyColor;
				left: 0;
				position: absolute;
				transition: transform 0.3s ease;
			}

			&::before {
				top: rem(-5px);
			}

			&::after {
				bottom: rem(-5px);
			}
		}

		&--open &__bar {
			background-color: transparent;

			&::before {
				top: 0;
				transform: rotate(45deg);
			}

			&::after {
				top: 0;
				transform: rotate(-45deg);
			}
		}
	}

	&__dropdown {
		&-btn {
			position: absolute;
			top: rem(16px);
			right: rem(5px);
			width: rem(30px);
			height: rem(30px);
			z-index: 1;
			padding: 0;
			border: 0;
			background-color: transparent;
			transition: 0.3s all;

			&--active {
				transform: rotate(180deg);
			}

			img {
				width: rem(18px);
			}
		}
	}
}

.nav {
	@include media-breakpoint-down(lg) {
		position: fixed;
		top: rem(60px);
		left: 0;
		z-index: 1000;
		display: none;
		width: 100%;
		padding: 0;
		width: 100%;
		height: 100vh;
		background-color: #fff;
		transition: all 0.5s ease;
		overflow-y: auto;
	}

	@include media-breakpoint-up(lg) {
		flex: 1;
		display: block;
		padding-left: rem(16px);
	}

	&__list {
		&--right {
			@include media-breakpoint-up(lg) {
				flex: 1;
			}

			@include media-breakpoint-down(lg) {
				.nav {
					&__item {
						padding: rem(7px 13px);
						border-bottom: none;
					}

					&__link {
						display: inline-block;
						padding: 0;
					}
				}

				.js-searchBtn-wrapper {
					display: none;
				}
			}
			.nav__item {
				.nav__link {
					&--active {
						&::after{
							@include media-breakpoint-up(lg) {
								right: auto;
								left: 0;
								width: 100%;
							}
						}
					}
				}
			}
		}

		.js-searchBtn {
			span {
				display: inline-block;
				margin-left: rem(8px);

				@include media-breakpoint-down(lg) {
					font-size: $base-font-size-sm;
					letter-spacing: normal;
					text-transform: capitalize;

				}
			}
		}
	}

	&__item {
		border-bottom: $border-primary;
		position: relative;

		@include media-breakpoint-up(lg) {
			padding: rem(20px 9px);
			position: unset;
			border-bottom: none;
			padding-bottom: rem(17px);
		}

		&:not(:last-child) {
			@include media-breakpoint-up(lg) {
				margin-right: 5px;
			}
		}

		// &:last-child {
		// 	@include media-breakpoint-down(lg) {
		// 		border-bottom: none;

		// 	}
		// }

		&:hover {
			.dropdown {
				@include media-breakpoint-up(lg) {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}

	&__link {
		position: relative;
		text-transform: uppercase;
		font-weight: 500;
		transition: all 0.3s ease-in;

		@include media-breakpoint-down(lg) {
			display: block;
			width: 100%;
			font-size: $base-font-size-sm-m;
			padding: rem(20px 12px 21px);
			letter-spacing: 0.6px;
		}

		&::after {
			@include media-breakpoint-up(lg) {
				position: absolute;
				right: 0;
				bottom: 0;
				content: '';
				height: rem(1px);
				width: 0;
				background-color: $bodyColor;
				transition: all 0.3s ease-in;
			}
		}

		&:hover::after {
			@include media-breakpoint-up(lg) {
				right: auto;
				left: 0;
				width: 100%;
			}
		}
	}

	.nav__link {
		letter-spacing: 0.05em;

		@include media-breakpoint-up(lg) {
			font-size: rem(14px);
		}
	}
}

// Dropdown
.dropdown {
	background-color: $white;

	@include media-breakpoint-up(lg) {
		position: absolute;
		top: rem(55px);
		right: rem(-1px);
		left: rem(-1px);
		z-index: 10;
		transition: opacity 0.4s ease;
		opacity: 0;
		visibility: hidden;
		padding-top: rem(8px);
		border-radius: 0 0 $base-radius;
		border: $border-primary;
		border-top: 0;
	}

	@include media-breakpoint-down(lg) {
		display: none;
	}


	&__inner {
		padding: rem(0 13px 6px);

		@include media-breakpoint-up(lg) {
			border-top: $border-primary;
		}

		&-grid {
			@include media-breakpoint-up(lg) {
				padding: rem(27px 27px 27px 12px);
				grid-template-columns: 75% 1fr;
			}
		}
	}

	&__grid {
		@include media-breakpoint-up(lg) {
			display: grid !important;
			grid-template-columns: repeat(auto-fit, minmax(auto, 185px));
			grid-gap: rem(27px);
		}
	}

	&__column-left {
		position: relative;
		margin-left: 0;

		@include media-breakpoint-up(lg) {
			padding-right: rem(68px);
		}
	}


	&-card {
		a {
			display: block;
		}

		&__body {
			text-align: center;
			padding: rem(12px);

			@include media-breakpoint-up(lg) {
				padding: rem(12px);
			}

			p {
				font-size: $base-font-size * 0.625;
				line-height: $base-line-height * 0.48;
				color: $gray-200;

				@include media-breakpoint-up(lg) {
					font-size: $base-font-size-sm-m;
					line-height: $base-line-height-sm-m;
				}
			}
		}
	}

	&-menu {
		margin-top: rem(35px);

		@include media-breakpoint-up(lg) {
			margin-top: 0;
		}

		&__title {
			@include text($base-font-size-sm-m, $base-line-height-sm-m, $gray-200);
		}
	}

	&-list {
		&__link {
			@include text($base-font-size-sm, $base-line-height * 1.08, null, null, -0.7px, $font-family-secondary);

			@include media-breakpoint-up(lg) {
				@include text($h3-font-size-d, $base-line-height * 1.04, null, null, -1px);
			}
		}
	}

	.btn-outline-primary {
		width: 100%;
		margin-top: rem(58px);
	}

	.swiper-button__next {
		top: 40%;
	}

	&-progressbar {
		@include media-breakpoint-down(lg) {
			height: rem(2px);
		}

		.swiper-pagination-progressbar-fill {
			height: 100%;
		}
	}

	&--shop {
		.dropdown__column-left {
			max-width: rem(925px);
		}
	}
}