.sidebar-wrapper {
    position: absolute;
    top: 0;
    z-index: 999;

    .background {
        position: fixed;
        left: 0;
        height: 100vh;
        width: 100%;
        z-index: 10;
        background-color: $white;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease, visibility 0.3s ease;

        @include media-breakpoint-up(lg) {
            top: 0;
        }
    }

    .sidebar-container {
        width: 100%;
        height: 100vh;
        background-color: $secondary;
        position: fixed;
        top: 0;
        right: -768px;
        z-index: 1001;
        transition: right 0.3s ease, visibility 0.3s ease;
        overflow: auto;
        @extend .hide-scroll;

        @include media-breakpoint-up(md) {
            right: -1200px;
        }

        @include media-breakpoint-up(lg) {
            width: 722px;
            border: $border-primary;
            right: -935px;
            z-index: 11;
            border-radius: 6px 0 0 6px;
        }
    }

    .sidebar-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        //margin-bottom: 79px;
        @include media-breakpoint-up(lg) {
            margin-bottom: 184px;
        }

        p {
            font-family: $font-family-primary;
            font-size: 12px;
            letter-spacing: 0.6px;
            font-weight: 500;
            @include media-breakpoint-up(lg) {
                font-size: 14px;
                letter-spacing: 0.7px;
            }
        }

        button {
            @extend .btn-none;
            width: 16px;
            @include media-breakpoint-up(lg) {
                width: 12px;
            }
        }
    }

    .login-sidebar,
    .bag-wrapper {
        padding-top: 14px;
        @include media-breakpoint-up(lg) {
            padding-top: 17px;
        }

        .sidebar-header {
            padding: 0 15px 0 13px;
            @include media-breakpoint-up(lg) {
                margin-bottom: 19px;
                padding: 0 32px;
            }

            .close-sidebar,
            .close-bag {
                width: unset;

                img {
                    width: 15px;
                }
            }
        }
    }

    .login-sidebar {
        @extend .sidebar-container;
        @include media-breakpoint-down(lg) {
            z-index: 999;
            position: absolute;
            padding-top: 42px;
        }

        .sidebar-header {
            p {
                @include media-breakpoint-down(lg) {
                    @include center(horizontal);
                }
            }

            .close-sidebar {
                @include media-breakpoint-down(lg) {
                    position: absolute;
                    right: 15px;
                }
            }
        }

        h2 {
            font-size: $h2-font-size-d;
            letter-spacing: $base-letter-spacing-lg;
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0 12px;
            @include media-breakpoint-up(lg) {
                display: block;
                max-width: 484px;
                margin: auto;
                padding: 0;
            }

            .inputs {
                width: 100%;
                @include media-breakpoint-up(lg) {
                    width: unset;
                }
            }
        }

        .login-form,
        .password-reset,
        .signup-form {
            @include media-breakpoint-up(lg) {
                @include center(both);
            }
            @include media-breakpoint-down(lg) {
                width: 100%;
                padding: 148px 12px 175px;
            }
        }

        input {
            font-family: $font-family-primary;
            font-size: $base-font-size;
            width: 100%;
            height: 38px;
            border: 1px solid $gray-300;
            border-radius: $base-radius;
            padding-left: 13px;
            margin-top: 14px;
            @include media-breakpoint-up(lg) {
                width: 473px;
                height: 43px;
                padding-left: 15px;
                margin-top: 26px;
            }

            &::placeholder {
                color: $gray-200;
            }

            &:first-of-type {
                margin-top: 0;
            }
        }


        .login-form,
        .signup-form {
            .buttons {
                display: flex;

                input,
                button {
                    font-size: 12px;
                    @include media-breakpoint-up(lg) {
                        font-size: 14px;
                    }

                    &:first-of-type {
                        margin-right: 15px;
                        @include media-breakpoint-up(lg) {
                            margin-right: 18px;
                        }
                    }
                }
            }
        }

        .login-form {
            h2 {
                margin-bottom: 65px;
                @include media-breakpoint-up(lg) {
                    margin-bottom: 32px;
                }
            }

            .inputs {
                display: flex;
                flex-direction: column;
                margin-bottom: 41px;
                @include media-breakpoint-up(lg) {
                    margin-bottom: 63px;
                }

                .forgot-btn {
                    @extend .btn-text;
                    display: flex;
                    justify-content: flex-end;
                    font-size: $base-font-size-sm;
                    margin-top: 14px;
                    @include media-breakpoint-up(lg) {
                        font-size: 15px;
                        margin-top: 11px;
                        margin-right: 5px;
                    }
                }
            }
        }

        .password-reset {

            h2 {
                padding: 0 11px 0 0;
                margin-bottom: 14px;
                @include media-breakpoint-up(lg) {
                    margin-bottom: 7px;
                }
            }

            & > p {
                margin-bottom: 30px;
                @include media-breakpoint-up(lg) {
                    margin-bottom: 47px;
                }
            }

            .inputs {
                input.btn-sidebar,
                button.btn-sidebar {
                    @include media-breakpoint-up(lg) {
                        margin-top: 55px;
                    }
                }

                p {
                    color: $red-500;
                    background-color: $red-300;
                    width: 100%;
                    height: 38px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    @include media-breakpoint-up(lg) {
                        width: 472px;
                        height: 40px;
                        margin-top: 12px;
                        font-size: $base-font-size;
                    }
                }

                .buttons {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-top: 47px;
                    @include media-breakpoint-up(lg) {
                        align-items: flex-start;
                        margin-top: 0;
                    }

                    .reset-cancel {
                        @extend .btn-text;
                        margin-top: 20px;
                    }
                }
            }
        }

        .signup-form {
            @include media-breakpoint-up(lg) {
                display: block;
            }

            h2 {
                text-align: center;
                padding-right: 15px;
                margin-bottom: 49px;
                @include media-breakpoint-up(lg) {
                    text-align: unset;
                    padding-right: unset;
                    margin-bottom: 32px;
                }
            }

            .buttons {
                margin-top: 55px;
                @include media-breakpoint-up(lg) {
                    margin-top: 42px;
                }
            }
        }
    }

    .description {
        & > span {
            font-family: $font-family-primary;
            font-size: 10px;
            border-radius: 100px;
            line-height: 12px;
            border: $border-secondary;
            width: fit-content;
            padding: 4px 8px;
            margin: 4px 0 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            @include media-breakpoint-up(lg) {
                font-size: 12px;
                line-height: 25px;
                padding: 4px 11px;
                height: 24px;
                margin: 6px 0 15px;
            }

            &.sensitive {
                background-color: $product-primary;
            }

            &.regular {
                background-color: $pink-400;
            }

            &.lavender {
                background-color: $purple-200;
            }

            &.super {
                background-color: $yellow-300;
            }

            &.liners {
                background-color: $green-400;
            }
        }

        & > div > span {
            font-family: $font-family-primary;
            font-size: 10px;
            border-radius: 100px;
            line-height: 12px;
            width: fit-content;
            border: $border-secondary;
            padding: 4px 8px;
            margin: 4px 0 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            @include media-breakpoint-up(lg) {
                font-size: 12px;
                line-height: 25px;
                padding: 4px 11px;
                height: 24px;
                margin: 6px 0 15px;
            }

            &.sensitive {
                background-color: $product-primary;
            }

            &.regular {
                background-color: $pink-400;
            }

            &.lavender {
                background-color: $purple-200;
            }

            &.super {
                background-color: $yellow-300;
            }

            &.liners {
                background-color: $green-400;
            }
        }
    }

    &.login-open {
        .login-sidebar {
            @include media-breakpoint-down(lg) {
                right: 0;
            }
        }
    }

    &.open {
        .background {
            @include media-breakpoint-up(lg) {
                visibility: visible;
                opacity: 0.8;
            }
        }

        .sidebar-container {
            right: 0;
        }
    }
}

.error-msg {
    color: $red-500;
    background-color: $red-300;
    width: 100%;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    @include media-breakpoint-up(lg) {
        width: 472px;
        height: 40px;
        margin-top: 12px;
        font-size: $base-font-size;
    }
    @include media-breakpoint-down(lg) {
        margin-top: 10px;
    }

    &--input {
        border: 1px solid $black;
    }
}