.sidebar-wrapper {
    .bag-wrapper {
        @extend .sidebar-container;
        background-color: $white;

        h2 {
            font-size: 15px;
            line-height: $base-line-height-sm;
            letter-spacing: -0.05em;

            @include media-breakpoint-up(lg) {
                font-size: $h3-font-size-d;
                line-height: 28px;
            }
        }

        .sidebar-header {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 16px;

            @include media-breakpoint-up(lg) {
                margin-bottom: 19px;
            }

            & > div {
                display: flex;
                align-items: center;

                p {
                    font-size: 12px;
                    letter-spacing: 0.6px;
                    margin-left: 5px;

                    @include media-breakpoint-up(lg) {
                        font-size: $base-font-size-sm;
                        letter-spacing: $base-letter-spacing;
                        margin-left: 12px;
                        margin-top: 5px;
                    }
                }

                img {
                    width: 26px;
                    @include media-breakpoint-up(lg) {
                        width: unset;
                    }
                }
            }
        }

        .empty-bag {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0 13px;
            @include media-breakpoint-up(lg) {
                max-width: 541px;
                margin: auto;
                padding: 0 0 0 13px;
            }

            & > h2 {
                text-align: center;
                margin-bottom: 40px;
                @include media-breakpoint-up(lg) {
                    margin-bottom: 44px;
                }
            }

            .product {
                width: 100%;
                min-height: 149px;
                border: $border-primary;
                border-radius: $base-radius;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                margin-bottom: 22px;
                @include media-breakpoint-up(lg) {
                    flex-direction: row;
                    min-height: 176px;
                    margin-bottom: 24px;
                }

                &:last-of-type {
                    margin-bottom: 26px;
                    @include media-breakpoint-up(lg) {
                        margin-bottom: 51px;
                    }
                }

                & > div {
                    width: 100%;
                    display: flex;
                    min-height: 111px;
                    @include media-breakpoint-up(lg) {
                        min-height: 176px;
                    }

                    .img {
                        background-color: $pink-200;
                        width: 31%;
                        object-fit: cover;
                        -o-object-fit: cover;
                        @include media-breakpoint-up(lg) {
                            width: 33%;
                        }

                        picture {
                            height: 100%;

                            img {
                                object-fit: cover;
                                -o-object-fit: cover;
                                width: 100%;
                            }
                        }
                    }

                    .description {
                        width: 69%;
                        padding: 21px 0 0 17px;
                        @include media-breakpoint-up(lg) {
                            width: 67%;
                            padding: 14px 18px 17px 20px;
                            display: flex;
                            flex-direction: column;
                        }

                        & > div {
                            h2 {
                                font-size: 15px;
                                line-height: $base-line-height-sm;
                                letter-spacing: -0.05em;

                                @include media-breakpoint-up(lg) {
                                    font-size: $h3-font-size-d;
                                    line-height: 28px;
                                }
                            }

                            & > p {
                                font-size: 10px;
                                color: $gray-200;
                                @include media-breakpoint-up(lg) {
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }

                button {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    font-weight: 500;
                    border: none;
                    border-radius: unset;
                    border-top: $border-primary;
                    @include media-breakpoint-up(lg) {
                        border: $border-primary;
                        border-radius: $base-radius;
                        margin-top: auto;
                        height: 43px;
                        padding: 0 15px;
                    }
                }
            }

            & > a {
                width: 191px;
                font-weight: 500;
                @include media-breakpoint-up(lg) {
                    width: 234px;
                    margin-bottom: 51px;
                }
            }
        }

        .cart-product-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            @include media-breakpoint-down(lg) {
                position: relative;
            }
            @include media-breakpoint-up(lg) {
                height: calc(100vh - 85px);
            }
            @media (min-width: 1441px) {
                height: calc(100vh - 94px);
            }

            .cart-product-container {
                .filled-cart,
                .cart-items {
                    @include media-breakpoint-up(sm) {
                        max-width: 465px;
                        margin: auto;
                    }
                    @include media-breakpoint-up(lg) {
                        max-width: unset;
                        margin: unset;
                    }
                }

                .filled-cart {
                    margin-bottom: 40px;
                    @include media-breakpoint-up(lg) {
                        margin-bottom: 42px;
                    }

                    & > p {
                        font-size: rem(10px);
                        line-height: rem(12px);
                        text-align: center;
                        margin-bottom: rem(18px);

                        @include media-breakpoint-up(lg) {
                            font-size: rem(12px);
                            line-height: rem(18px);
                            padding-left: rem(18px);
                            margin-bottom: rem(13px);
                        }
                    }

                    .purchase-progress {
                        border: $border-primary;
                        position: relative;
                        padding: rem(6px 14px);
                        margin: rem(0 33px);
                        border-radius: 100px;

                        @include media-breakpoint-up(lg) {
                            padding: 6px 11px;
                            width: 435px;
                            margin: auto;
                        }

                        &::before {
                            position: absolute;
                            top: 50%;
                            transform: translate3d(0px, -50%, 0px);
                            z-index: -1;
                            height: 1px;
                            width: 93%;
                            background-color: $gray-400;
                            content: '';

                            @include media-breakpoint-up(lg) {
                                width: 95%;
                            }
                        }

                        .line {
                            height: 2px;
                            width: 20%;
                            background-color: $bodyColor;
                            transition: width .3s ease;
                        }
                    }
                }

                .cart-items {
                    padding: 0 13px;
                    min-height: 340px;
                    max-height: 600px;
                    overflow: auto;
                    overflow-x: hidden;
                    @extend .scroll-bar;
                    @include media-breakpoint-up(lg) {
                        padding: 0 24px 0 32px;
                        min-height: calc(100vh - 579px);
                        max-height: 560px;
                        margin-right: 8px;
                    }
                    @media (min-width: 1441px) {
                        min-height: calc(100vh - 595px);
                    }

                    .product {
                        display: grid;
                        grid-template-columns: 21% 61% 17%;
                        align-items: flex-start;
                        margin-bottom: 17px;
                        position: relative;

                        @include media-breakpoint-up(lg) {
                            grid-template-columns: 20% 72% 8%;
                            align-items: center;
                            margin-bottom: 32px;
                        }

                        &:last-of-type {
                            margin-bottom: 42px;

                            @include media-breakpoint-up(lg) {
                                margin-bottom: 15px;
                            }
                        }

                        p {
                            font-family: $font-family-primary;
                            font-weight: 500;
                            font-size: 12px;
                            letter-spacing: 0.6px;

                            @include media-breakpoint-up(lg) {
                                font-size: $base-font-size-sm;
                                letter-spacing: $base-letter-spacing;
                            }

                            &.product-price {
                                position: absolute;
                                top: 20px;
                                right: 15px;
                            }
                        }

                        .img {
                            width: rem(73px);
                            height: rem(73px);
                            overflow: hidden;
                            background-color: $pink-200;
                            border: $border-primary;
                            border-radius: $base-radius;

                            @include media-breakpoint-up(lg) {
                                width: rem(111px);
                                height: rem(111px);
                            }

                            picture {
                                height: 100%;
                                @include media-breakpoint-down(lg) {
                                    width: 73px;
                                }
                            }
                        }

                        .description {
                            padding-left: rem(15px);

                            @include media-breakpoint-up(lg) {
                                display: grid;
                                align-items: center;
                                padding-left: unset;
                                grid-gap: 21px;
                                grid-template-columns: 63% 29% 20%;
                                justify-content: space-between;
                            }

                            & > div {
                                h2 {
                                    margin-bottom: 5px;

                                    @include media-breakpoint-up(lg) {
                                        padding-right: rem(10px);
                                        margin-bottom: 10px;
                                    }
                                }

                                & > div {
                                    display: flex;
                                    align-items: center;
                                }

                                span:nth-child(3) {
                                    border-radius: unset;
                                    padding: 0;
                                    border: unset;
                                }

                                p:last-child {
                                    margin-top: 5px;
                                    text-align: unset;
                                }

                                .product__desc,
                                .product__variant {
                                    font-family: $font-family-primary;
                                    font-size: 10px;
                                    letter-spacing: unset;
                                    font-weight: normal;

                                    @include media-breakpoint-up(lg) {
                                        font-size: 12px;
                                    }
                                }
                            }

                            .tag {
                                @extend .card__tag;
                                margin: 0;
                                background-color: $green-200;
                            }
                        }

                        .item-count {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            width: 52px;

                            @include media-breakpoint-up(lg) {
                                border: $border-secondary;
                                border-radius: $base-radius;
                                width: 108px;
                                height: 43px;
                                padding: 0 17px;
                            }

                            button {
                                @extend .btn-none;
                                font-size: 18px;

                                @include media-breakpoint-up(lg) {
                                    font-size: $h3-font-size-d;
                                }
                            }

                            p {
                                padding-top: 2px;
                                @include media-breakpoint-up(lg) {
                                    padding-top: 0;
                                }
                            }
                        }

                        p:nth-child(4) {
                            text-align: right;
                        }
                    }
                }

                .recommended-products {
                    border-top: $border-primary;
                    width: 100%;
                    padding: 19px 0 0;
                    background-color: $pink-200;
                    overflow: hidden;

                    @include media-breakpoint-up(lg) {
                        padding: 35px 0 39px;
                    }

                    p {
                        font-family: $font-family-primary;
                        font-size: $base-font-size-sm;
                        line-height: $base-line-height-sm;
                        padding-left: 12px;

                        @include media-breakpoint-up(lg) {
                            padding-left: 30px;
                            font-size: $base-font-size;
                            line-height: 25px;
                        }
                    }

                    .swiper {
                        .swiper-wrapper {
                            margin: 14px 0 24px;
                            padding-left: 14px;

                            @include media-breakpoint-up(lg) {
                                margin: 28px 0 36px;
                                padding-left: 30px;
                            }

                            .swiper-slide {
                                .product-wrapper {
                                    display: grid;
                                    grid-template-columns: 111px 59%;
                                    grid-gap: 21px;
                                    @include media-breakpoint-up(lg) {
                                        grid-template-columns: 111px 66%;
                                    }

                                    div:first-child {
                                        max-height: 111px;
                                        max-width: 111px;
                                        background-color: $pink-200;
                                        border: $border-primary;
                                        border-radius: $base-radius;
                                        overflow: hidden;
                                        @include media-breakpoint-up(lg) {
                                            width: 100%;
                                            height: 100%;
                                        }

                                        & > a {
                                            display: block !important;
                                        }

                                        picture {
                                            height: 100%;

                                            img {
                                                width: 100%;
                                                object-fit: cover;
                                                -o-object-fit: cover;
                                            }
                                        }
                                    }

                                    .description {
                                        padding: 17px 0 0;
                                        @include media-breakpoint-up(lg) {
                                            padding: 5px 0 0;
                                        }

                                        h2 {
                                            margin-bottom: 7px;
                                        }

                                        button {
                                            @extend .btn-text;
                                            font-family: $font-family-primary;
                                            font-weight: 500;
                                            font-size: 12px;
                                            margin-top: 12px;
                                            text-decoration: unset;
                                            border-bottom: $border-primary;
                                            letter-spacing: 0.4px;

                                            @include media-breakpoint-up(lg) {
                                                margin-top: 15px;
                                                font-size: $base-font-size-sm;
                                                letter-spacing: $base-letter-spacing;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .product-pagination {
                            height: 1px;
                            background-color: $gray-400;
                            margin: 0 0 25px;
                            @include media-breakpoint-up(lg) {
                                margin: 0 30px 0;
                            }

                            .swiper-pagination-progressbar-fill {
                                display: block;
                                position: relative;
                                height: 2px;
                                background-color: $bodyColor;
                            }
                        }
                    }
                }
            }

            .checkout {
                display: flex;
                flex-direction: column;
                padding: 21px 13px 34px;

                @include media-breakpoint-up(lg) {
                    padding: 24px 33px 15px;
                    border-top: $border-primary;
                }

                @media (min-width: 1441px) {
                    padding: 35px 33px;
                }

                &::after {
                    @include media-breakpoint-down(lg) {
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 1px;
                        background-color: $bodyColor;
                        bottom: 122px;
                        left: 0;
                    }
                }

                & > div, button {
                    display: flex;
                    justify-content: space-between;
                }

                & > div {
                    margin-bottom: 11px;
                    @include media-breakpoint-up(lg) {
                        margin-bottom: 17px;
                    }
                }

                & > button, & > a {
                    width: 100%;
                    font-weight: 500;
                    @include media-breakpoint-up(lg) {
                        padding: 12px 16px;
                    }
                }
            }
        }
    }
}

.product--title, .recc--product {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;

    &.expand {
        white-space: initial;
        width: fit-content;
    }
}

.product--title {
    width: 260px;
    @include media-breakpoint-down(md) {
        width: 53%;
    }
    @include media-breakpoint-between(md, lg) {
        width: 72%;
    }
}

.recc--product {
    width: 77%;
    @include media-breakpoint-up(md) {
        width: 100%;
    }
    @include media-breakpoint-up(lg) {
        width: 240px;
    }
}
