.sticky-atc {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 22;
    display: none;

    @include media-breakpoint-up(lg) {
        top: rem(32px);
        bottom: auto;
        padding: rem(0 36px);
        transform: translateY(0);
        transition: transform .4s ease;
    }

    .scroll-up & {
        //top: rem(96px);
        transform: translateY(64px);
        //animation: fadeIn 3s;
    }

    &__inner {
        align-items: center;
        grid-template-columns: 55% 1fr;
        padding: rem(9.5px 12px);
        background-color: $product-secondary;
        color: $white;
        border-top: $border-primary;

        @include media-breakpoint-up(lg) {
            grid-template-columns: $g-col-3;
            padding: rem(17.5px 25px);
            border: $border-primary;
            border-radius: $base-radius;
        }
    }

    &-visible.scroll-up &__inner{
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    &__title {
        color: $white;
    }

    &__link {
        text-transform: uppercase;
        font-size: $base-font-size-sm-m;
        line-height: $base-line-height * 0.64;

        @include media-breakpoint-up(lg) {
            font-size: $base-font-size-sm;
            line-height: $base-line-height-sm-m;
        }
    }

    &-btn {
        white-space: nowrap;
        color: $white;
        background-color: unset;
        border: unset;
        text-transform: uppercase;
        font-size: $base-font-size-sm-m;
        line-height: $base-line-height * 0.64;
    
        @include media-breakpoint-up(lg) {
            font-size: $base-font-size-sm;
            line-height: $base-line-height-sm-m;
        }
    }

    &-visible {
        .header__inner{
            border-radius: $base-radius $base-radius 0 0;
        }
    
        .cart-icon-filled{
            border-bottom-right-radius: 0;
        } 
    }
}

@keyframes fadeOut {
	0%    { opacity: 1; }
	20%   { opacity: 0; }
	100%  { opacity: 0; }
}

// @keyframes slideFromTop {
// 	0%    { top: rem(90px) }
// 	20%   { top: rem(96px) }
// 	100%  { top: rem(96px) }
// }