@import 'node_modules/swiper/swiper';
@import 'node_modules/swiper/components/pagination/pagination';


//swiper
.swiper {
    &-button {
        @include center(vertical);
        width: rem(34px);
        height: rem(34px);
        border: 0;
        background-color: transparent;
        padding: 0;
        cursor: pointer;
        z-index: 1;
        @include media-breakpoint-up(lg) {
            width: rem(41px);
            height: rem(41px);

        }

        &__prev {
            left: 0;
        }

        &__next {
            right: 0;
        }
    }

    &-pagination {
        position: relative;
        bottom: 0!important;

        &-bullet {
            width: 10px;
            height: 10px;
            margin: 0;
            margin-left: 8px;
            background-color: #E3E3E3;
            opacity: 1;

            &-active {
                background-color: #FFD11F;
            }
        }
    }
}