<style>
    @font-face {
        font-family: 'Futura PT';
        src: url('{{ 'FuturaPT-Medium.woff' | asset_url }}') format('woff'),
        url('{{ 'FuturaPT-Medium.woff2' | asset_url }}') format('woff2');
        font-weight: 500;
        font-style: normal;
        font-display: swap;
    }
    {% comment %}
    @font-face {
        font-family: 'Peachy';
        src: url('{{ 'peachy.woff' | asset_url }}') format('woff'),
        url('{{ 'peachy.woff2' | asset_url }}') format('woff2');
        font-weight: 500;
        font-style: normal;
        font-display: swap;
    }
    {%endcomment%}

    @import url("https://p.typekit.net/p.css?s=1&k=wzz0sce&ht=tk&f=28084&a=771048&app=typekit&e=css");
    @font-face {
        font-family:"Peachy";
        src:url("https://use.typekit.net/af/ad985b/00000000000000007735b428/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/ad985b/00000000000000007735b428/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/ad985b/00000000000000007735b428/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
        font-display:auto;
        font-style:normal;
        font-weight:400;
        font-stretch:normal;
    }
</style>