<div class="product">
    <a class="product--img" href="{{ product.url | within: collection }}">
        <img src="{{ product.featured_image.src | img_url: 'medium' }}"
             alt="{{ product.featured_image.alt | escape }}">
    </a>
    {% form 'product', product, class:'AddToCartForm' %}
        <div class="product--description">
            <a class="product__title" href="{{ product.url | within: collection }}">{{ product.title }}</a>
            <div class="select--options card__sizes">
                {%- unless product.has_only_default_variant -%}
                    <select name="" id="" class="selectric variant-item">
                        {% for variant in product.variants %}
                            {% if variant.available %}
                            <option value="{{ variant.id }}">{{ variant.title }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                {% endunless %}
                <input class="productVariant" type="hidden" name="id" value="{{ product.first_available_variant.id }}">
            </div>
            <button class="btn">
                {% if product.available %}
                    <span>{{ product.price | money }} | Add to cart</span>
                {% else %}
                    <strong>sold out</strong>
                {% endif %}
            </button>
        </div>
    {% endform %}
</div>