{% assign goal = settings.free_shipping_price %}
{% assign goalMoney = goal | times: 100 %}

<div class="bag-wrapper">
    <div class="sidebar-header">
        <div>
            <img class="lazy" data-src="{{ 'bag-icon.svg' | asset_url }}" width="29" height="33" alt="Honey Pot">
            <p>({{ cart.item_count }})</p>
        </div>
        <button class="close-bag">
            <img class="lazy" data-src="{{ 'close.svg' | asset_url }}"  width="15" height="15" alt="close">
        </button>
    </div>
    {% if cart.items.size > 0 %}
        <div class="cart-product-wrapper">
            <div class="cart-product-container">

                <div class="cart-items">
                    {% for item in cart.items %}
                        {% assign upsell = item.product %}
                        <div class="product">
                            <a href="{{ item.url }}" class="img">
                                <picture>
                                    <source media="(min-width: 992px)"
                                            data-srcset="{{ item.image | img_url: '220x' }}">
                                    <source media="(min-width: 320px)"
                                            data-srcset="{{ item.image | img_url: '220x' }}">
                                    <img class="lazy"
                                        data-src="{{ item.image | img_url: '220x' }}"
                                        alt="{{ item.product.title | strip_html }}">
                                </picture>
                            </a>
                            <div class="description">
                                <div class="description__inner">
                                    <a href="{{ item.url }}">
                                        <h2 class="product--title">{{ item.product.title }}</h2>
                                    </a>
                                    <div data-variant_id="{{ item.key }}" >
                                        <div class="cart-item__select select--options">
                                            {% unless item.product.has_only_default_variant %}
                                                <select class="selectric select cart-ctm-select" name="id" >
                                                    {% for variant in item.product.variants %}
                                                        {% if variant.available %}
                                                            <option class="variant-list__item" data-variant_id="{{ variant.key }}" value="{{ variant.id }}"
                                                                        data-price="{{ variant.price}}"
                                                                    data-title="{{ variant.title | escape }}"
                                                                    data-available="{{ variant.available }}"
                                                                {% if item.id == variant.id %}selected{% endif %}>{{ variant.title }}
                                                            </option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                            {% endunless %}
                                        </div>
                                    </div>
                                </div>
                                <div class="item-count">
                                    <form action="" class="ChangeCartForm">
                                        <input type="hidden" name="id" value="{{ item.key }}">
                                        <input type="hidden" name="quantity" value="{{ item.quantity | minus: 1 }}">
                                        <button class="remove-item">-</button>
                                    </form>
                                    <p>{{ item.quantity }}</p>
                                    <form action="" class="ChangeCartForm">
                                        <input type="hidden" name="id" value="{{ item.key }}">
                                        <input type="hidden" name="quantity" value="{{ item.quantity | plus: 1 }}">
                                        <button class="add-item">+</button>
                                    </form>
                                </div>
                                <p class="product-price">{{ item.price | money }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="checkout">
                <div>
                    <p>Subtotal</p>
                    <p>{{ cart.items_subtotal_price | money }}</p>
                </div>
                <a class="btn btn--checkout" href="/checkout">
                    PROCEED TO CHECKOUT
                    <span>{{ cart.total_price | money }}</span>
                </a>
            </div>
        </div>
    {% else %}
        <div class="empty-bag">
            <h2>Looking pretty empty in here at the moment. We recommend:</h2>

            {% for product in collections['best-sellers'].products limit: 3 %}
            {% form 'product', product, class:'product AddToCartForm' %}
                    <div>
                        <a href="{{ product.url }}" class="img">
                            <picture>
                                <source media="(min-width: 992px)"
                                        data-srcset="{{ product.featured_image | img_url: '220x' }}">
                                <source media="(min-width: 320px)"
                                        data-srcset="{{ product.featured_image | img_url: '220x' }}">
                                <img class="lazy" data-src="{{ product.featured_image | img_url: '220x' }}"
                                     alt="">
                            </picture>
                        </a>
                        <div class="description">
                            <div>
                                <a href="{{ product.url }}">
                                    <h2 class="product--title">{{ product.title }}</h2>
                                </a>
                                {% if product.metafields.product_gray_text.gray_text %}
                                    <p class="vertical-card__desc">{{ product.metafields.product_gray_text.gray_text }}</p>
                                {% endif %}
                                {% if product.metafields.prod_type.type %}
                                <span class="sensitive" style="background-color: {{ primaryColor }}">{{ product.metafields.prod_type.type }}</span>
                                {% endif %}
                                <input type="hidden" name="id" value="{{ product.first_available_variant.id }}">
                            </div>
                            <button class="btn add show-desk-flex">
                                ADD TO BAG
                                <span>{{ product.price | money }}</span>
                            </button>
                        </div>
                    </div>
                    <button class="btn add show-mob-flex">
                        ADD TO BAG
                        <span>{{ product.price | money }}</span>
                    </button>
            {% endform %}
            {% endfor %}
            <a href="/collections/all" class="btn">BROWSE ALL PRODUCTS</a>
        </div>
    {% endif %}
</div>

<script>
window.cart = {{ cart | json }}
</script>
