<section class="product--container">
    <h1>our best <span>sellers</span></h1>
    <div class="swiper-container product--slider">
        <div class="swiper-wrapper">
            {% for product in collections['best-sellers'].products  %}
                <div class="swiper-slide">
                    {% include 'product-card' %}
                </div>
            {% endfor %}
        </div>
        <div class="swiper-pagination"></div>
    </div>
</section>