.product {
    display: flex;
    flex-direction: column;
    padding: 19px;
    background-color: #FDF5F4;
    border: 4px solid #FDE0DC;
    border-radius: 12px;

    &--container {
        width: 100%;
        height: 100%;
        background-image: url('https://cdn.shopify.com/s/files/1/0567/0345/1234/files/13105_1.png?v=1663523385');
        background-position: top;
        background-size: cover;
        padding: 85px 0 50px;

        @include media-breakpoint-up(lg) {
            padding: 150px 40px 0;
        }

        & > h1 {
            font-size: 68px;
            line-height: 66px;
            margin-bottom: 25px;
            text-align: center;
            text-transform: uppercase;

            @include media-breakpoint-down(lg) {
                font-size: 35px;
                line-height: 42px;
                margin-bottom: 62px;
                white-space: nowrap;

                span {
                    color: $white;
                }
            }
        }
    }

    &--slider {
        @include media-breakpoint-down(lg) {
            padding: 0 16px;
        }

        .swiper {
            &-wrapper {

                @include media-breakpoint-down(lg) {
                    margin-bottom: 10px;
                }

                @include media-breakpoint-up(lg) {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    grid-gap: 32px;
                }

                @include media-breakpoint-up(xl) {
                    grid-template-columns: repeat(4, 1fr);
                }
            }

            &-pagination {
                @include media-breakpoint-up(lg) {
                    display: none;
                }
            }
        }
    }

    &--img {
        margin-bottom: 19px;
        border-radius: 12px;
        overflow: hidden;

        img {
            width: 100%;
        }
    }
    &__title{
        font-family: $font-family-secondary;
        width: 176px;
        margin: 0 auto;
    }

    &--description {
        display: flex;
        flex-direction: column;

        & > a {
            font-size: 30px;
            line-height: 30px;
            text-align: center;
            margin-bottom: 19px;
        }
    }
}

.select--options {
    margin-bottom: 10px;
}

.selectric {
    background: transparent;
    border: none;
    border-bottom: 1px solid;
    border-color: #FDE0DC !important;

    .label {
        color: $black;
        font-size: 18px;
    }

    .button {
        width: 17px;
        height: 7px;
        top: 50%;
        transform: translateY(-50%);
        background-image: url('https://cdn.shopify.com/s/files/1/0567/0345/1234/files/Vector_65.svg?v=1663526182');
        background-size: contain;
        background-repeat: no-repeat;

        &::after {
            display: none;
        }
    }
}