<div class="header">
    <div class="header__inner">
        <div class="d-lg-flex navbar">
            <div class="d-lg-none navbar-toggler">
                <span class="navbar-toggler__bar"></span>
            </div>
            <nav class="d-lg-flex nav">
                <ul class="mt-6 mt-lg-0 d-lg-flex nav__list nav__list--right">
                    <li class="nav__item ml-auto">
                        {%- for link in linklists.main-menu.links -%}
                            <li class="nav__item">
                                <a class="nav__link" href="{{- link.url -}}">{{- link.title -}}</a>
                            </li>
                        {%- endfor -%}
                    </li>
                </ul>
            </nav>
            <div class="d-flex navbar__atc {% if cart.items.size > 0 %}cart-icon-filled{% endif %}">
                <a href="#" class="cart-btn">
                    <picture>
                        <source media="(min-width: 992px)" type="image/svg+xml" srcset="{{ 'bag-icon.svg' | asset_url }}">
                        <source media="(max-width: 991.98px)" type="image/svg+xml" srcset="{{ 'bag-icon.svg' | asset_url }}">
                        <img src="{{ 'bag-icon.svg' | asset_url }}" alt="Honey Pot" width="29" height="33" >
                    </picture>
                </a>
            </div>
        </div>
    </div>
</div>
