<!doctype html>
<html>
<head>
    <title>{{ page_title }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="{{ page_description | escape }}">
    <link rel="canonical" href="{{ canonical_url }}">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    {{ content_for_header }} <!-- Header hook for plugins -->

    {% include 'fonts' %}
    {{ 'custom.min.css' | asset_url | stylesheet_tag }}
</head>
<body style="background-image:url('{{ 'sky.png' | asset_url }}');">

<div class="wrapper">
    <header class="main-header">
        {% section 'header' %}
    </header>

    <main role="main" class="content">
        <div class="sidebar-wrapper">
            <div class="background"></div>
            {% include 'sticky-cart' %}
        </div>

        {{ content_for_layout }}
    </main>

    {% comment %}{% section 'footer' %}{% endcomment %}
</div>  
{{ 'custom.min.js' | asset_url | script_tag }}

</body>
</html>
