//include normalize
button,
input,
optgroup,
select,
textarea {
	font-family: $font-family-primary;
}

textarea,
input[type='text'],
input[type='tel'],
input[type='email'],
input[type='button'],
input[type='submit'],
input[type='search'],
input[type='password'] {
	-webkit-appearance: none;
	appearance: none;
	box-shadow: 0 0 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

input[type='search']::-ms-clear {
	display: none;
	width: 0;
	height: 0;
}

input[type='search']::-ms-reveal {
	display: none;
	width: 0;
	height: 0;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
	display: none;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

strong {
	font-weight: 700;
}

%bg {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.container {
	margin-left: auto;
	margin-right: auto;
	max-width: rem(1304px);
	width: 100%;
	padding: rem(0 12px);

	@include media-breakpoint-up(lg) {
		padding: rem(0 36px);
	}

	&-md {
		@extend .container;
	}

	&-sm {
		@extend .container;
		max-width: rem(726px);
	}

	&-fluid {
		@extend .container;
		max-width: 100%;

		@include media-breakpoint-up(lg) {
			padding: 0 36px;
		}
	}
}

.wrapper {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: 1920px;
}

main.content {
	@include media-breakpoint-down(lg) {
		margin-top: rem(60px);
	}
}

//grid
.grid {
	@include display-grid;

	&-column {
		&--1 {
			@include grid-template-columns(repeat(1, 1fr));
		}

		&--2 {
			@include grid-template-columns($g-col-2);
		}

		&--3 {
			@include grid-template-columns(repeat(3, 1fr));
		}

		&--auto {
			@include grid-template-columns(auto auto);
		}
	}
}

.align-items {
	&-center {
		@include align-items(center);
	}

	&-start {
		@include align-items(flex-start);
	}

	&-end {
		@include align-items(end);
	}
}

.justify-content {
	&-start {
		@include justify-content(start);
	}
	
	&-center {
		@include justify-content(center);
	}

	&-between {
		@include justify-content(space-between);
	}

	&-end {
		@include justify-content(flex-end);
	}
}

.place-items-center {
	place-items: center !important;
}

//Flex
.flex-wrap {
	flex-flow: row wrap;
}

.flex-column {
	flex-direction: column;
}

.text {
	&-underline {
		text-decoration: underline;
	}

	&-normal {
		font-weight: 400;
	}

	&-medium {
		font-weight: 500;
	}

	&-semibold {
		font-weight: 600;
	}

	&-bold {
		font-weight: 700;
	}
}

.ml-auto {
	margin-left: auto;
}

.order-1 {
	order: 1;
}

.order-2 {
	order: 2;
}

.shape-tag {
	max-width: rem(174px);
	height: rem(92px);
	margin-left: auto;
	position: relative;

	@include media-breakpoint-up(lg) {
		max-width: rem(250px);
		height: rem(132px);
	}

	&__desc {
		@include text($base-font-size-sm, $base-line-height-sm, null, null, $base-letter-spacing, $font-family-secondary);
		transform: rotate(-13.51deg);
		padding: rem(25px 26px 20px 15px);
		text-align: center;

		@include media-breakpoint-up(lg) {
			@include text($h3-font-size-d, $base-line-height * 1.12);
			padding: rem(40px 26px 20px 15px);
			transform: rotate(-10.8deg);
		}
	}

	&__img {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		right: 0;
		display: block;

		@include media-breakpoint-up(lg) {
			top: 0;
			right: auto;
			left: 0;
		}

		img {
			width: 100%;
			height: 100%;
		}
	}

	&--chat {
		position: absolute;
		right: rem(53px);
		bottom: rem(68px);
		padding: 0;
		cursor: pointer;
		display: none;

		.shape-tag__desc {
			@include media-breakpoint-up(lg) {
				padding: rem(37px 16px 30px);
			}
		}
	}

	&--hive,
	&--uses {
		display: none;
	}
}


//plus-icon
.ctm-plus-btn {
	position: relative;
	display: inline-block;
	width: 20px;
	height: 20px;
	padding: 0;
	border: 0;
	background-color: transparent;

	&::after,
	&::before {
		content: '';
		z-index: 1;
		width: 12px;
		height: 1px;
		background-color: $bodyColor;
		transition: 0.3s all;
	}

	&::after {
		@include center(both);
	}

	&::before {
		position: absolute;
		left: 50%;
		transform: translateX(-50%) rotate(90deg);
	}

	&--collapse::before {
		transform: translateX(-50%) rotate(0);
	}
}


// list
.list {
	&__item {
		position: relative;
		padding-left: rem(20px);

		&::after {
			content: '';
			width: rem(4px);
			height: rem(4px);
			border-radius: 100%;
			background-color: $bodyColor;
			left: 0;
			top: rem(7px);
			position: absolute;

			@include media-breakpoint-up(lg) {
				top: rem(12px);

			}
		}
	}
}



.selectric-hide-select.selectric-is-native {
	display: none;
}