body {
	@include text($base-font-size-sm, $base-line-height-sm, $bodyColor, 400, null, $font-family-primary);
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;

	@include media-breakpoint-up(lg) {
		@include text($base-font-size, $base-line-height);
	}
	background-size: cover;
	background-repeat: no-repeat;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	
	font-family: $font-family-secondary;
	font-weight: 300;
	color: $bodyColor;
}

h2,
.h2 {
	font-size: $h1-font-size-m;
	line-height: $base-line-height * 1.68;
	letter-spacing: rem(-2.7px);

	@include media-breakpoint-up(lg) {
		font-size: $h1-font-size-d;
		line-height: $base-line-height * 2.2;
		// letter-spacing: $base-letter-spacing;
	}
}

h3 {
	font-size: $base-font-size * 1.375;
	line-height: $base-line-height * 1.2;
	letter-spacing: rem(-1.1px);

	@include media-breakpoint-up(lg) {
		font-size: $h1-font-size-m;
		line-height: $base-line-height * 1.92;
		// letter-spacing: $base-letter-spacing;
		letter-spacing:rem(-1.8px);
	}
}


h4 {
	font-size: $base-font-size-sm;
	line-height: $base-line-height-sm;
	letter-spacing: -0.7px;
	
	@include media-breakpoint-up(lg) {
		font-size: $h3-font-size-d;
		line-height: $base-line-height * 1.15;
	}
}


h5 {
	font-size: $base-font-size * 0.9375;
	line-height: $base-line-height-sm;
	letter-spacing: rem(-0.75px);

	@include media-breakpoint-up(lg) {
		font-size: $h3-font-size-d;
		line-height: $base-line-height * 1.52;
		letter-spacing: rem(-1px);
	}
}

h6 {
	font-size: $base-font-size-sm-m;
	line-height: $base-line-height * 0.64;
	font-family: $font-family-primary;
	font-weight: 500;
	letter-spacing: rem(0.6px);

	@include media-breakpoint-up(lg) {
		font-size: $base-font-size-sm;
		line-height: normal;
	}
}

.link {
	font-family: $font-family-primary;
	font-size: $base-font-size-sm;
	letter-spacing: $base-letter-spacing;
	line-height: normal;
	font-weight: 500;
}
