.show-mob {
    @include media-breakpoint-up(lg) {
        display: none !important;
    }
}

.show-desk {
    display: none !important;
    @include media-breakpoint-up(lg) {
        display: block !important;
    }
}

.show-mob-flex {
    display: flex !important;
    @include media-breakpoint-up(lg) {
        display: none !important;
    }
}

.show-desk-flex {
    display: none !important;
    @include media-breakpoint-up(lg) {
        display: flex !important;
    }
}

.invisible {
    visibility: hidden;
}

.scroll-bar {
    &::-webkit-scrollbar {
        width: 5px;

        &-track {
            background-color: rgba($gray-400, 0.4);
            border-radius: 16px;
            opacity: 0.5;
        }

        &-thumb {
            background-color: $black;
            border-radius: 16px;
            height: 30px;
        }
    }
}

.hide-scroll {
    &::-webkit-scrollbar {
        height: 0;
        width: 0;

        &-track {
            background-color: transparent;
        }

        &-thumb {
            background-color: transparent;
        }
    }
}

input[type="submit"] {
    cursor: pointer;
}