$white: #fff !default;
$black: #000 !default;
$pink: #bc3153 !default;
$pink-200: #fdf4eb !default;
$pink-300: #eea2b4 !default;
$pink-400: #febbe5 !default;
$pink-700: #fec896 !default;
$pink-800: #f6b4e4 !default;
$pink-900: #f7b4e4 !default;
$yellow: #f0eb76 !default;
$yellow-300: #fae180 !default;
$purple: #c7b2f2 !default;
$purple-200: #c5bbf2 !default;
$purple-900: #c3339b!default;

//product colors
$product-primary: var(--product-primary);
$product-secondary: var(--product-secondary);
$product-promo: var(--product-promo);

//gray
$gray-100: #d9e1ca !default;
$gray-200: #898989 !default;
$gray-300: #dbdbdb !default;
$gray-400: #c9c9c9 !default;
$gray-500: #938779 !default;
$gray-900: #252222 !default;

//red
$red-100: #d8c4af;
$red-300: #ffdfdf !default;
$red-400: #ed1c24 !default;
$red-500: #e11100 !default;
$red-900: #a43430 !default;

//green
$green-200: #c2eaf8 !default;
$green-300: #58d6a1 !default;
$green-400: #a5e1c2 !default;
$green-900: #577626 !default;

//blue
$blue-400: #4ba6de !default;
$blue-300: #aad8ee !default;
$blue-100: #dee7ee !default;

// orange
$orange: #f18141 !default;
$orange-400: #fec896 !default;


$bodyColor: $gray-900;

$primary: $pink;
$secondary: $yellow;
$blue-light: $blue-300;

$border-primary: rem(1px) solid $bodyColor;
$border-secondary: rem(1px) solid $gray-400;
$outline-primary: rem(1px) solid $primary;

$font-family-primary: 'Futura PT', sans-serif !default;
$font-family-secondary: 'Peachy', sans-serif !default;

$base-font-size-sm: rem(14px);
$base-font-size-sm-m: rem(12px);
$base-font-size: rem(16px);

$base-line-height: rem(25px);
$base-line-height-sm: rem(20px);
$base-line-height-sm-m: rem(18px);

$base-letter-spacing: rem(-0.8px);
$base-letter-spacing-p: rem(0.8px);
$base-letter-spacing-lg: rem(-1.8px);
$base-letter-spacing-sm: rem(-0.49px);

$base-radius : rem(6px);

$h1-font-size-d:              $base-font-size * 3.375 !default;
$h1-font-size-m:              $base-font-size * 2.25 !default;
$h2-font-size-d:              $base-font-size * 2.25 !default;
$h2-font-size-m:              $base-font-size * 1.375 !default;
$h3-font-size-d:              $base-font-size * 1.25 !default;
$h3-font-size-m:              $base-font-size * 1.06 !default;
$h4-font-size:                $base-font-size * 1.5 !default;
$h5-font-size:                $base-font-size * 0.9375 !default;
$h6-font-size:                $base-font-size !default;


//only colors
$colors: (
  'white': $white,
  'black': $black,
  'red-400': $red-400,
  'red-900': $red-900,
  'green-300': $green-300,
  'green-900': $green-900,
  'blue-300': $blue-300,
) !default;

//only theme colors
$theme-colors: (
  'primary': $primary,
  'secondary': $secondary,
  'tertiary': $orange-400,
  'blue-light': $blue-light,
  'blue-300': $blue-300,
  'green-300': $green-300,
  'green-900': $green-900,
  'red-400': $red-400,
  'pink-light': $pink-900,
) !default;

// theme breakpoint
$media-break-points: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px,
) !default;

//space
$space: (
  '0': 0,
  '1': rem(4px),
  '2': rem(8px),
  '3': rem(12px),
  '4': rem(16px),
  '5': rem(20px),
  '6': rem(24px),
  '7': rem(28px),
  '8': rem(32px),
  '9': rem(36px),
  '10': rem(40px),
  '11': rem(44px),
  '12': rem(48px),
  '13': rem(52px),
  '14': rem(56px),
  '15': rem(60px),
) !default;


//header
$header-height: rem(72px);

$g-col-2: repeat(2, 1fr) !default;
$g-col-3: repeat(3, 1fr) !default;
